{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/parent-dash-base.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'logo-light-blue.svg' %}" alt="Logo" class="logo"></a>
        <ul>
                <li><a href="{% url 'view_children_grades' %}"><span><img src="{% static 'grades-white.png' %}" alt="Notes Logo" class="nav-icon"> <span class="nav-text">Children's Grades</span></span></a></li>
        
                <li><a href="{% url 'parent_calendar' %}"><span><img src="{% static 'white-calendar-icon.png' %}" alt="Calendar Logo" class="nav-icon"> <span class="nav-text">Children's Calendars</span></span></a></li>
        
                <li><a href={% url 'view_absences' %}><span><img src="{% static 'dash/absent.png' %}" alt="Courses Logo" class="nav-icon"> <span class="nav-text">Children's Absences</span></span></a></li>
        
                <li><a href="{% url 'parent_remarks' %}"><span><img src="{% static 'dash/remark.png' %}" alt="Homework Logo" class="nav-icon"> <span class="nav-text">Children's Remarks</span></span></a></li>
        </ul>
        <div class="profile-box">
            <div class="profile-and-username">
                <img src="{% static 'dash/tutoring.png' %}" alt="Profile Picture" class="profile-pic">
                <p class="username">{{request.user.username}}</p>
            </div>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
          <div class="logout-div">
              <button class="logout-button">Logout</button>
          </div>
          </form>
        </div>

    </nav>
    
    <div class="content">

        <div class="text-content">
            {% block content%}
            {% endblock%}

        </div>
    </div>
 
    
</body>
</html>