{% extends 'core/parent/parent-dash-base.html' %}
{% load static %}

{% block title %}
    <title>My Children's Remarks</title>
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Parent Remarks</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/remarks.css' %}">
</head>
<body>
  <h2>Remarks from El Hikma School Teachers for Your Children</h2>

  <div class="container remark-box">
    {% for remark in remarks %}
      <div class="remark-card">
        <h3>{{ remark.student.user.first_name }} {{ remark.student.user.last_name }}</h3>
        <p><strong>Written on:</strong> {{ remark.date }}</p>
        <p><strong>Remark:</strong> {{ remark.remark }}</p>
        <p><strong>Written by:</strong> {{ remark.teacher }}</p>
      </div>
    {% empty %}
      <p>No remarks have been written yet.</p>
    {% endfor %}
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>
{% endblock %}
