

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="{% static 'css/403.css' %} " >
</head>
<body>
    <div class="container">
        <img src="{% static '403.svg' %}" alt="Wizard" class="wizard-image">
        <h1>YOU SHALL NOT PASS!</h1>
        <h2>403</h2>
        <p>We are sorry, but you do not have permission to access this page or resource</p>
        <a href="/" class="back-button">Back to Home Page</a>
    </div>
</body>
</html>
