{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Teacher Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    
</head>
<body>
    <div class="container">
        <div class="course-upload">
            <h1>Upload a New Course</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.title.label }}:</label> {{ form.title }}
                </div>
                <div class="form-group">
                    <label>{{ form.description.label }}:</label> {{ form.description }}
                </div>
                <div class="form-group">
                    <label>{{ form.level.label }}:</label> {{ form.level }}
                </div>
                <div class="form-group">
                    <label>{{ form.subject.label }}:</label> {{ form.subject }}
                </div>
                <div class="form-group">
                    <label>{{ form.classroom.label }}:</label> {{ form.classroom }}
                </div>
                <div class="form-group">
                    <label>{{ form.is_additional.label }}:</label> {{ form.is_additional }}
                </div>
                <div class="form-group">
                    <label>{{ form.file.label }}:</label> {{ form.file }}
                </div>
                <button type="submit" class="form-submit-button">Upload</button>
            </form>
        </div>
        <div class="courses">
            <h1> Courses and Resources</h1>
            <!-- Search form -->
            <div class="search-form">

                <h2>Search Courses</h2>
                <h5>you can search for a course by title, subject or the classroom it was intended for </h5>

                <form method="get">
                    {% comment %} reset button {% endcomment %}
                    <button type="submit" name="search" value="all" class= "reset-button">&#x21BA;</button>
                    {% comment %} teacher select {% endcomment %}
                    <select name="teacher" class="select-box">
                        <option value="">Teachers</option>
                        {% for teacher in teachers %}
                            <option value="{{ teacher.username }}">{{ teacher.username }}</option>
                        {% endfor %}
                    </select>

                     {% comment %} courses select {% endcomment %}
                     <select name="classroom" class="select-box">
                        <option value="">Classrooms</option>
                        {% for classroom in classrooms %}
                            <option value="{{ classroom.name }}">{{ classroom.name }}</option>
                        {% endfor %}
                    </select>                 
                    {% comment %} level select {% endcomment %}

                    <select name="level" class="select-box">
                        <option value="">Level</option>
                        {% for level in levels %}
                            <option value="{{ level.0 }}">{{ level.1 }}</option>
                        {% endfor %}
                    </select>
                    {% comment %} search box {% endcomment %}

                    <input type="text" name="search" placeholder="Search">
                    <input type="submit" value="Search">
                </form>
            </div>
            {% for course in courses %}
            <div class="course-box">
                <h2>Title: {{ course.title }}</h2>
                <p><strong>About This Course Resource:</strong> {{ course.description }}</p>
                <p><strong>Uploaded by:</strong> {{ course.teacher }}</p>
                <p><strong>Level:</strong> {{ course.get_level_display }}</p>
                <p><strong>Subject:</strong> {{ course.subject }}</p>
                <p><strong>Classroom:</strong> {{ course.classroom }}</p>
                <p><strong>In The Curriculum:</strong> {{ course.is_additional|yesno:"No,Yes" }}</p>
                <a href="{{ course.file.url }}" download>Course</a>
            
                    {% if request.user.teacher == course.teacher %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <button type="submit" name="delete" class="delete-button">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
