{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Teacher Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
</head>
<body>
    <div class="container">
        <div class="course-upload">
            <h1>Upload a New Course</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.title.label }}:</label> {{ form.title }}
                </div>
                <div class="form-group">
                    <label>{{ form.description.label }}:</label> {{ form.description }}
                </div>
                <div class="form-group">
                    <label>{{ form.level.label }}:</label> {{ form.level }}
                </div>
                <div class="form-group">
                    <label>{{ form.subject.label }}:</label> {{ form.subject }}
                </div>
                <div class="form-group">
                    <label>{{ form.classroom.label }}:</label> {{ form.classroom }}
                </div>
                <div class="form-group">
                    <label>{{ form.is_additional.label }}:</label> {{ form.is_additional }}
                </div>
                <div class="form-group">
                    <label>{{ form.file.label }}:</label> {{ form.file }}
                </div>
                <button type="submit" class="form-submit-button">Upload</button>
            </form>
        </div>
        <div class="courses">
            <h1> Courses and Resources</h1>
            <!-- Search form -->
            <div class="search-form">

                <h2>Search Courses</h2>
                <h5>you can search for a course by title, subject or the classroom it was intended for </h5>

            <form method="get">
                <button type="submit" name="search" value="all" class= "reset-button">&#x21BA;
                </button>
                <select name="level" class="select-box">
                    <option value="">All</option>
                    {% for level in levels %}
                        <option value="{{ level.0 }}">{{ level.1 }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filter">
                <br><br>
                <button type="submit" name="search" value="all" class= "reset-button">&#x21BA;
                </button>
                <input type="text" name="search" placeholder="Search">
                <input type="submit" value="Search">
                

            </form>
            </div>
            {% for course in courses %}
                <div class="course-box">
                    <h2>{{ course.title }}</h2>
                    <p>About This Course Resource: {{ course.description }}</p>
                    <p>Level: {{ course.get_level_display }}</p>
                    <p>Subject: {{ course.subject }}</p>
                    <p>Classroom: {{ course.classroom }}</p>

                    <p> In The Curriculum: {{ course.is_additional|yesno:"No,Yes" }}</p>
                    <a href="{{ course.file.url }}" download>Course</a>
                    {% if request.user.teacher == course.teacher %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="course_id" value="{{ course.id }}">
                            <button type="submit" name="delete" class="delete-button">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
