{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
</head>
<body>
    <div class="navbar">
        
        <a href="{% url 'home' %}"><img src="{% static 'core/school-img/logo-yellow-vecto.svg' %}" alt="Logo"></a>


        <ul>
        <li> 
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'events' %}">Events</a>
        </li>
        <li>
            <a href="{% url 'calendars' %}">My Calendars</a>
        </li>
        <li>
            <a href="{% url 'courses' %}">Courses</a>
        </li>
        <li>
            <a href="{% url 'grades' %}">My Grades</a>
        </li>
        <li>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        </li>
    </ul>
    </div>
    <div class="dashboard-header">
        <h1>Hi {{ user.first_name }} {{ user.last_name }}</h1>
        <h4>this is your dashboard</h4>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
