        /* Add the CSS code here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
            margin-left: 15%;
            padding: 20px;
            min-width: max-content;
            position:relative;
            overflow-x: hidden;
        }

        .content-full {
            position:relative;
            min-width: 80vw;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1, h2, h3 {
            color: #3484cc;
            margin-bottom: 20px;
        }

        h3 {
            margin-top: 10px;
        }

        .section {
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            margin-bottom: 20px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-top: 20px;
        }

        form div {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="date"],
        select,
        textarea {
            width: calc(100% - 22px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button, input[type="submit"] {
            background-color: #3484cc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: transform 0.3s, box-shadow 0.3s;
            font-size: 16px;
            margin-top: 10px;
        }

        button:hover, input[type="submit"]:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        button:active, input[type="submit"]:active {
            transform: translateY(0);
            box-shadow: none;
        }

        a {
            color: #3484cc;
            text-decoration: none;
        }



        .messages {
            list-style-type: none;
            padding: 0;
        }

        .messages li {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
        }

        .messages li.success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }

        .messages li.error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }

        .messages li.info {
            background-color: #d1ecf1;
            color: #0c5460;
            border: 1px solid #bee5eb;
        }

        .messages li.warning {
            background-color: #fff3cd;
            color: #856404;
            border: 1px solid #ffeeba;
        }

        .homework-card {
            background-color: #fff;
            padding: 1em;
            margin-bottom: 1.5em;
            border-radius: 0.25em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: auto;
            max-width: 100%;
            min-height: 24em;
            min-width: 18em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-all;
        }